setuptools
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4
certifi
dictsearch==3.2.0
docutils==0.21.2
nose2[coverage_plugin]
python-dateutil==2.9.0.post0
urllib3
wheel==0.38.1
xlrd==1.0.0
requests==2.32.3
numpy
pandas
requests_aws4auth
boto3


